extends base

block content

  .list__jobs
    each job in jobs
      .job
        h1(data-job-id=`${job._id}`).company__name= `${job.companyName}`
        .job__description
          p.job__element
            span.span__element=`position ${job.title}` 
            | 
          p.job__element
            span.span__element=`expiration ${job.expireDate}` 
            |  
          p.job__element
            span.span__element=`location ${job.locations[0].name}` 
            |  
        p.job__element.job__summary
          span.span__element=`description ${job.description}` 
            | 
        .upload
          form.job__form
            label.span__element.form__label(for='resume') Upload Resume: 
            input#resume.job__input(type='file' accept='application/pdf' name='resume')
          button.resume__apply.submit__btn apply
      